@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

.grid-col {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    align-items: center;
}

.grid-item {
    padding: 150px 80px;
}

.grid-item h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  font-family: 'PP Neue Montreal', sans-serif;
}

.grid-item p {
    color: #0b0c0e;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    font-family: 'PP Neue Montreal', sans-serif;
}